﻿@model CVMAwards.Web.ViewModels.Nominee.NomineeViewModel



<div id="formDiv">
    <form asp-action="AddNominee" asp-controller="Home" method="post">
        <div class="modal-header">
            <h4 class="modal-title">Nominate Candidate</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">
            <div class="formStyle">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger error"></div>
                @Html.HiddenFor(model => model.AwardId)

                <div class="row">
                    <div class="col-sm-12">
                        <span class="text-warning"> Fields marked with <span style="color:red">*</span> are required</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="@Model.AwardName" class="col-sm-3 col-form-label">Award Name</label>
                    <label>@Model.AwardName</label>
                </div>

                <div class="form-group row">
                    <label asp-for="@Model.Name" class="col-sm-3 col-form-label glyphicon-asterisk-red">Nominee Name</label>
                    <input asp-for="@Model.Name" class="form-control col-sm-8" title="Enter name for nominee" />
                    <span asp-validation-for="@Model.Name" class="text-danger offset-3"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-sm-11">
                <span class="lblMessage"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" id="btnSubmit" title="Click to save nomination"><i class="fa fa-check" aria-hidden="true"></i> Nominate</button>
            <button data-bs-dismiss="modal" id="btnCancel" class="btn btn-dark" type="button" title="Click to close dialog"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
        </div>
    </form>
</div>




<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<script>
    $(document).ready(function () {
    var form = $('div#formDiv form');

    $(form).on('submit', function (e) {
        e.preventDefault();

        var $label = $(this).find("span.lblMessage");
        var $url = $(this).attr('action');

        if ($(form).valid()) {
            $.ajax({
                type: 'POST',
                url: $url,
                data: $(this).serialize(),  //$(SectionForm).serialize(),
                success: function (result) {
                    if (result.success) {
                        $label.css({ 'color': 'green' }).html(result.message);
                        $('#btnSubmit').hide();
                        //alert('success');
                    }
                    else {
                        $label.css({ 'color': 'red' }).html(result.message);
                    }
                },
                error: function (jqXHR, status, error) {
                    if (onError !== null && onError !== undefined) {
                        onError(jqXHR, status, error);
                        $label.css({ 'color': 'red' }).html("There was an error saving the data");
                    }
                }
            });
        }
    });
})
</script>