﻿@model CVMAwards.Web.ViewModels.Home.AwardDetailViewModel

@{
    //var UserLogged = User.Identity.IsAuthenticated ? "Yes" : "No";
}
<div class="modal-header">
    <h4 class="modal-title">Award Details</h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

</div>

<div class="modal-body">
    <div style="border: 1px solid black; margin:1px; padding: 5px;">
        <div class="form-group row">
            <label asp-for="@Model.DTO.AwardName" class="col-sm-3 col-form-label font-weight-bold">Award Name</label>
            @Html.DisplayFor(x => x.DTO.AwardName)
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.AwardingBody" class="col-sm-3 col-form-label font-weight-bold">Awarding Body</label>
            @Html.DisplayFor(x => x.DTO.AwardingBody)
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.AwardUrl" class="col-sm-3 col-form-label font-weight-bold">Award URL</label>
            <a href="@Model.DTO.AwardUrl" style="color:blue;" target="_blank">Click to go to award website</a>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.Description" class="col-sm-3 col-form-label font-weight-bold">Description</label>
            <label class="col-sm-9">
                @Html.Raw(@Model.DTO.Description)
            </label>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.Requirements" class="col-sm-3 col-form-label font-weight-bold">Requirements</label>
            <label class="col-sm-9">
                @Html.Raw(@Model.DTO.Requirements)
            </label>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.Eligibility" class="col-sm-3 col-form-label font-weight-bold">Eligibility</label>
            <label class="col-sm-9">
                @Html.Raw(@Model.DTO.Eligibility)
            </label>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.CategoryDesc" class="col-sm-3 col-form-label font-weight-bold">Category</label>
            <label class="col-sm-3">@Model.DTO.CategoryDesc</label>
            <label asp-for="@Model.DTO.Liaison" class="col-sm-3 col-form-label font-weight-bold">Liaison</label>
            <label class="col-sm-3">@Model.DTO.Liaison</label>
            @*@if (Model.DTO.LiaisonNeeded)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }*@
        </div>
        <hr />
        <div class="form-group row">
            @*<label asp-for="@Model.DTO.StatusDesc" class="col-sm-3 col-form-label font-weight-bold">Status</label>
                <label class="col-sm-3">@Model.DTO.StatusDesc</label>*@
            @*<label asp-for="@Model.DTO.DueDate" class="col-sm-2 col-form-label font-weight-bold">Deadline</label>
                @Html.DisplayFor(x => x.DTO.DueDate)*@
            <label asp-for="@Model.DTO.Month" class="col-sm-3 col-form-label font-weight-bold">Approx. Deadline</label>
            <label class="col-sm-9"> @Html.DisplayFor(x => x.DTO.Month)</label>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.Notes" class="col-sm-3 col-form-label font-weight-bold">Notes</label>
            <label class="col-sm-9">
                @Html.Raw(@Model.DTO.Notes)
            </label>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="@Model.DTO.AdditionalLinks" class="col-sm-3 col-form-label font-weight-bold">Additional Links</label>
            <label class="col-sm-9">
                @Html.Raw(@Model.DTO.AdditionalLinks)
            </label>
        </div>
    </div>
</div>

<div class="modal-footer">
    @*@if (Model.DTO.Deadline == null || Model.DTO.Deadline > DateTime.Now)
        {

            <a asp-action="Apply" asp-controller="Applicant" asp-route-id="@Model.DTO.AwardId" class="btn btn-info apply" data-log="@UserLogged" title = "Click to apply for this award">
                <span class="fa fa-check"> Apply</span>
            </a>

        }*@
    <button data-bs-dismiss="modal" id="btnCancel" class="btn btn-dark" type="button" title="Click to close dialog"><i class="fa fa-close"></i> Close</button>
</div>

<script>
    $(function () {
        $('.apply').on('click', function (e) {
            let loggedin = $(this).data('log');

            if (loggedin == 'No') {
                alert('You must log in to apply for an award');
                e.preventDefault();
                return;
            }
        });
    })
</script>