﻿@model CVMAwards.Web.ViewModels.Nominee.NomineeViewModel

<div class="modal-header">
    <h4 class="modal-title">Nominate Candidate</h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="formStyle">
        <div class="form-group row">
            <label asp-for="@Model.AwardName" class="col-sm-3 col-form-label">Award Name</label>
            <label>@Model.AwardName</label>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Name" class="col-sm-3 col-form-label text-dark">Nominee Name</label>
            <label>@Model.Name</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button data-bs-dismiss="modal" id="btnCancel" class="btn btn-dark" type="button" title="Click to close dialog"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
</div>