html {
    font-size: 12px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


body {
    margin-bottom: 60px;
    background-color: #e4e3d3;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    background-color: #3d8e75;
    color: white;
    padding: 5px;
    width: 100%;
}

.modal-header {
    background-color: #3d8e75;
    color: white;
    padding: 5px;
}

footer {
    /*position: absolute;
    bottom: 0;*/
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    /*line-height: 60px;*/ /* Vertically center the text there */
    background-color: #3d3f3e;
    color: white;
    /*width: 98%;*/
    padding: 5px;
    border-width: 1px;
    border-color: gainsboro;
    border-style: outset;
    border-radius: 2%;
    font-size: 12px;
}

    footer a:hover {
        background-color: #ffffff;
        color: #0D6E6E;
    }

thead {
    background-color: cadetblue;
    color: white;
    border-width: 1px;
    border-color: black;
    border-style: outset;
}

tfoot {
    background-color: cadetblue;
    color: white;
    border-width: 1px;
    border-color: black;
    border-style: outset;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.PopUpDialog {
    background: #f2f2f2;
    border: 1px solid #000;
    position: absolute;
    top: 60%;
    left: 45%;
    width: 200px;
    height: 275px;
    padding-left: 5px;
    /*margin-top: -295px;
    margin-left: -100px;*/
    opacity: 0.9999899999999999;
    /*KHTMLOpacity: 0;*/
    filter: alpha(opacity=0);
    /*-moz-opacity: 0;*/
    z-index: 1000;
}

.ClosePopUp {
    background-color: white;
}

.formStyle {
    /*width: 98%;*/
    background-color: ghostwhite;
    padding: 1%;
    border-width: 1px;
    border-color: gainsboro;
    border-style: outset;
    border-radius: 15px;
}

.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}

.glyphicon-asterisk-red:before {
    content: "\2a";
    color: red
}

td a {
    color: blue;
}

.my-container {
    display: inline-block;
    text-align: center;
    margin: 1px;
    padding: 0px;
}

.my-text {
    display: block;
    font-size: 9px;
}

.my-icon {
    vertical-align: middle;
}

.inputWithIcon {
    position: relative;
}

    .inputWithIcon input[type=text] {
        padding-right: 30px;
    }

    .inputWithIcon input[type=datetime] {
        padding-right: 30px;
    }

    .inputWithIcon i {
        position: absolute;
        right: 15px;
        top: 5px;
        padding: 9px 10px;
        color: #aaa;
        transition: .3s;
    }

    .inputWithIcon input[type=text]:focus + i {
        color: dodgerblue;
    }
