﻿<style type="text/css">
    .btnStyle {
        width: 98%;
        margin-bottom: 2px;
    }
</style>

<a asp-controller="Users" asp-action="Index" class="btn btn-info btnStyle" title="Click to go view all users">Users List</a>
<br />
<a asp-controller="Users" asp-action="AddEdit" asp-route-id="" class="btn btn-info btnStyle" title="Click to go add a new user">Create User</a>
<br />
<a asp-controller="Users" asp-action="LdapImport" class="btn btn-info btnStyle" title="Click to go import user">Import Users</a>