﻿@model CVMAwards.Web.Models.Users.AspNetUserViewModel

@{
    ViewBag.Title = Model.Type;
}

<div class="card">
    <div class="card-header">
        <h2>@Model.Type</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <partial name="_SideMenu" />
            </div>
            <div class="col-sm-10 formStyle">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @Html.HiddenFor(model => Model.User.Id)
                    @Html.HiddenFor(model => Model.Type)
                    <div class="form-group row">
                        <label asp-for="User.UserName" class="col-sm-2 col-form-label">User Name</label>
                        <div class="col-sm-6">
                            @if (Model.User.UserName == null)
                            {
                                <input asp-for="User.UserName" class="form-control" placeholder="User name" title="Enter user name" />
                                <span asp-validation-for="User.UserName" class="text-danger"></span>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.User.UserName)
                                @Html.DisplayFor(model => Model.User.UserName)
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="User.FirstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-6">
                            <input asp-for="User.FirstName" class="form-control" placeholder="First name" title="Enter first name" />
                            <span asp-validation-for="User.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="User.LastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-6">
                            <input asp-for="User.LastName" class="form-control" placeholder="Last name" title="Enter last name" />
                            <span asp-validation-for="User.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="User.Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-6">
                            <input asp-for="User.Email" class="form-control" placeholder="Email" title="Enter user email" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>
                    </div>
                    @if (Model.Type == "Add New User")
                    {
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-6">
                                <input asp-for="Password" class="form-control" placeholder="Password" title="Enter user email" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PasswordConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-6">
                                <input asp-for="PasswordConfirm" class="form-control" placeholder="Confirm Password" title="Enter user email" />
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <label asp-for="User.IsDomainUser" class="col-sm-2 col-form-label">Is Domain User?</label>
                        <div class="col-sm-6">
                            <div class="custom-checkbox">
                                <label asp-for="User.IsDomainUser">
                                    <input asp-for="User.IsDomainUser" title="Check if user is domain user" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="User.IsActive" class="col-sm-2 col-form-label">Is Active?</label>
                        <div class="col-sm-6">
                            <div class="custom-checkbox">
                                <label asp-for="User.IsActive">
                                    <input asp-for="User.IsActive" title="Check if user is active" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="RolesList" class="col-sm-2 col-form-label">Select Roles</label>
                        <div class="col-sm-10">
                            @for (var i = 0; i < Model.RolesList.Count; i++)
                            {
                                @Html.HiddenFor(m => Model.RolesList[i].StringId)
                                @Html.CheckBoxFor(m => Model.RolesList[i].Checked)
                                @:&nbsp;
                                @Html.DisplayFor(m => Model.RolesList[i].Name)
                                @:&nbsp;&nbsp;
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm10">
                                <button type="submit" class="btn btn-info" title="Click to Save user">Save User</button>
                                <a asp-controller="Users" asp-action="Index" class="btn btn-secondary" title="Click to go to user list page">Back to Users List Page</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}