﻿@using CVMAwards.Web.Extensions
@using CVMAwards.Web.Models.LDAP

@model CVMAwards.Web.Models.Users.AspNetUserViewModel

@{
    ViewBag.Title = "Users List";
    var ldapResult = TempData.Get<LDAPResult>("LdapImportResult");
}


<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />

<div class="card">
    <div class="card-header">
        <h2>List of users</h2>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-2" style="padding-right:1%; padding-top:1%; border-right:1px solid grey;">
                <partial name="_SideMenu" />
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        @if (ldapResult != null)
                        {
                            if (!ldapResult.Success)
                            {
                                <div class="alert alert-danger" style="padding: 6px;" role="alert">
                                    <p>
                                        <strong>Warning: </strong>There were errors during the import.
                                    </p>
                                    <p>Imported @ldapResult.NumberOfUsersImported of @ldapResult.TotalUsersAttempted users successfully. The following users were not imported/updated</p>
                                    @foreach (string item in ldapResult.Errors)
                                    {
                                        <p>@item</p>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success" style="padding: 6px;" role="alert">
                                    <p>
                                        <strong>User was updated successfully</strong>
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div id="divContainer" style="border:1px solid darkgray; padding: 10px">
                    <table id="tblList" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.User.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User.IsActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User.IsDomainUser)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsDomainUser)
                                    </td>

                                    <td>
                                        <div class="my-container">
                                            <a asp-controller="Users" asp-action="AddEdit" asp-route-id="@item.Id" title="Click to edit user">
                                                <span class="my-icon">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </span>
                                                <span class="my-text">Edit User</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblList').DataTable({
                language: {
                    emptyTable: "No users have been added"
                },
                columns: [
                    null, null, null, null, null,
                    {
                        sortable: false,
                        searchable: false
                    }
                ]
            });

            //$('div.dataTables_wrapper').css('width', '1000');
            //$('td a').css("color", "blue");
        });
    </script>
}