﻿@using CVMAwards.Web.Extensions
@using CVMAwards.Web.Models.LDAP

@model CVMAwards.Web.Models.Users.AspNetUserViewModel

@{
    ViewBag.Title = "Import User";
    var ldapResult = TempData.Get<LDAPResult>("LdapImportResult");
}

<div class="card">
    <div class="card-header">
        <h2>Import User</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2" style="padding-right:1%; padding-top:1%; border-right:1px solid grey;">
                <partial name="_SideMenu" />
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        @if (ldapResult != null)
                        {
                            if (!ldapResult.Success)
                            {
                                <div class="alert alert-danger" style="padding:6px;" role="alert">
                                    <p>
                                        <strong>Warning: </strong>There were errors during the import.
                                    </p>
                                    <p>Imported @ldapResult.NumberOfUsersImported of @ldapResult.TotalUsersAttempted users successfully. The following users were not imported/updated</p>
                                    @foreach (string item in ldapResult.Errors)
                                    {
                                        <p>@item</p>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success" style="padding:6px;" role="alert">
                                    <p>
                                        <strong>User was updated successfully</strong>
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col-sm-12 formStyle">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @Html.HiddenFor(model => model.User.Id)
                        @Html.HiddenFor(model => model.User.UserName)
                        @Html.HiddenFor(model => model.User.FirstName)
                        @Html.HiddenFor(model => model.User.LastName)

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">User Name</label>
                            <label class="col-sm-6 col-form-label">@Model.User.UserName</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">First Name</label>
                            <label class="col-sm-6 col-form-label">@Model.User.FirstName</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Last Name</label>
                            <label class="col-sm-6 col-form-label">@Model.User.LastName</label>
                        </div>
                        <div class="form-group row">
                            <label asp-for="User.Email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-6">
                                <input asp-for="User.Email" class="form-control" title="Enter user email" />
                                <span asp-validation-for="User.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="User.PhoneNumber" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-6">
                                <input asp-for="User.PhoneNumber" class="form-control" title="Enter user email" />
                                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="User.IsDomainUser" class="col-sm-2 col-form-label">Is Domain User?</label>
                            <div class="col-sm-6">
                                <div class="custom-checkbox">
                                    <label asp-for="User.IsDomainUser">
                                        <input asp-for="User.IsDomainUser" title="Check if user is domain user" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="User.IsActive" class="col-sm-2 col-form-label">Is Active?</label>
                            <div class="col-sm-6">
                                <div class="custom-checkbox">
                                    <label asp-for="User.IsActive">
                                        <input asp-for="User.IsActive" title="Check if user is active" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="RolesList" class="col-sm-2 col-form-label">Select Roles</label>
                            <div class="col-sm-8">
                                @for (var i = 0; i < Model.RolesList.Count; i++)
                                {
                                    @Html.HiddenFor(m => Model.RolesList[i].StringId)
                                    @Html.CheckBoxFor(m => Model.RolesList[i].Checked)
                                    @:&nbsp;
                                    @Html.DisplayFor(m => Model.RolesList[i].Name)
                                    @:&nbsp;&nbsp;
                                }
                            </div>
                            <span asp-validation-for="RolesList" class="text-danger"></span>
                        </div>

                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm10">
                                    <button type="submit" class="btn btn-info" title="Click to Import user">Import User</button>
                                    <a asp-controller="Users" asp-action="LdapImport" class="btn btn-secondary" title="Click to go to select user from Ldap">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}