﻿@using CVMAwards.Web.Models.LDAP
@using CVMAwards.Web.Extensions

@model LdapUserImportViewModel


@{
    ViewBag.Title = "Import Users from LDAP";
    var ldapResult = TempData.Get<LDAPResult>("LdapImportResult");
}

<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />

<div class="card">
    <div class="card-header">
        <h2>Import Users</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2" style="padding-right:1%; padding-top:1%; border-right:1px solid grey;">
                <partial name="_SideMenu" />
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        @if (ldapResult != null)
                        {
                            if (!ldapResult.Success)
                            {
                                <div class="alert alert-danger" style="padding: 6px;" role="alert">
                                    <p>
                                        <strong>Warning: </strong>There were errors during the import.
                                    </p>
                                    <p>Imported @ldapResult.NumberOfUsersImported of @ldapResult.TotalUsersAttempted users successfully. The following users were not imported/updated</p>
                                    @foreach (string item in ldapResult.Errors)
                                    {
                                        <p>@item</p>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success" style="padding: 6px;" role="alert">
                                    <p>
                                        <strong>User was Imported successfully</strong>
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="row formStyle" style="margin-left:1px; margin-right: 3px;">
                    <div class="col-sm-12">
                        <form asp-action="LdapImport" asp-controller="users" method="get">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Group Filter: </label>
                                <div class="col-sm-5">
                                    @Html.DropDownListFor(model => model.FilteredGroup, new SelectList(Model.Groups, "Value", "Text"), new { @class = "form-control", title = "Select a group" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Username Filter: </label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(model => model.UserFilter, new { @class = "form-control", title = "Enter user name" })
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Show Existing Users?</label>
                                <div class="col-sm-5">
                                    <div class="custom-checkbox">
                                        <label asp-for="ShowExistingUsers">
                                            <input asp-for="ShowExistingUsers" title="Check to show if users already in the application" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-info">
                                        Search
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row formStyle" style="margin-left:1px; margin-right: 3px;">
                    <div class="col-sm-12">
                        <form asp-action="LdapImport" asp-controller="Users" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.UserFilter)
                            @Html.HiddenFor(x => x.ShowExistingUsers)
                            @Html.HiddenFor(x => x.FilteredGroup)

                            <div class="row">
                                <div class="col-sm-12">
                                    @if (Model.Users.Any(x => string.IsNullOrEmpty(x.LastName) || String.IsNullOrEmpty(x.FirstName) || String.IsNullOrEmpty(x.Email)))
                                    {
                                        <div class="alert alert-warning" style="padding: 6px;" role="alert">
                                            <p>
                                                <strong>Warning: </strong>highlighted users are missing first name, last name, or an email address and cannot be imported until fixed in Active Directory.
                                            </p>

                                        </div>
                                    }
                                </div>
                            </div>

                            <table id="tblList" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr class="subHeader">
                                        <th>User Name</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Email</th>
                                        <th>Exists?</th>
                                        <th style="text-align: center">
                                            @*<input type="checkbox" id="checkall" />*@
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@Html.EditorFor(x => x.Users)*@
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                                            <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                                            <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                                            <td>@Html.DisplayFor(modelItem => user.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => user.Imported)</td>
                                            <td>
                                                @Html.ActionLink("Import", "LdapImportUser", new { id = user.UserName })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-sm-12">
                                    @if (!Model.Users.Any())
                                    {
                                        <div class="alert alert-danger" style="padding: 6px;" role="alert">
                                            <p>
                                                <strong>Warning: </strong>All users for this filter exist in the database, no results returned.
                                            </p>

                                        </div>
                                    }
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.ActionLink("Back to Users List", "Index", "Users", null, new { @class = "btn btn-secondary", @title = "Click to go to users list" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            function toggleChecked(status) {
                $("#importTable input").each(function () {
                    $(this).prop("checked", status);
                });
            }

            var checkAllBox = $("#checkall");
            checkAllBox.prop('unchecked', true);
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });

            $('#tblList tbody tr').each(function () {
                var LastName = $(this).find("td").eq(1).html();
                var FirstName = $(this).find("td").eq(2).html();
                var Email = $(this).find("td").eq(3).html();

                //alert(Email);

                if (LastName == "" || FirstName == "" || Email == "") {
                    $(this).css('background-color', '#febbbb');
                    $(this).find("td").eq(5).html("");
                }

            })

            $('#tblList').DataTable({
                columns: [
                    null, null, null, null, null,
                    {
                        sortable: false,
                        searchable: false
                    }
                ]
            });
        });
    </script>
}

