﻿<style type="text/css">
    /* a {
        color: white;
    }*/
</style>

<div class="row">
    <div class="row">
        <div class="col-sm-6">
            <a href="https://www.msu.edu" title="Click to open Michigan State University Web site" target="_blank">
                <img src="~/images/MSU-Wordmark-White-120-pxls.jpg" alt="Michigan State University Wordmark Screen" height="45" width="180" />
            </a>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4">
                    <a href="https://cvm.msu.edu/contact" title="Click to open MSU CVM contact page" target="_blank">CVM Contact Information</a>
                </div>
                <div class="col-sm-4">
                    <a href="https://cvm.msu.edu/about/privacy-statement" title="Click to open MSU CVM privacy policy page" target="_blank">Privacy Policy</a>
                </div>
                <div class="col-sm-4">
                    Visit: <a href="https://www.msu.edu" target="_blank" title="Click to open MSU web site">msu.edu</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="font-size:smaller">
                    Call MSU: (517)355-1855
                </div>
                <div class="col-sm-8" style="font-size:smaller">
                    MSU is an affirmative-action, equal-opportunity <br /> employer
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-2">
            <a href="https://cvm.msu.edu/contact" title="Click to open MSU CVM contact page" target="_blank">CVM Contact Information</a>
        </div>
        <div class="col-sm-2">
            <a href="https://cvm.msu.edu/about/privacy-statement" title="Click to open MSU CVM privacy policy page" target="_blank">Privacy Policy</a>
        </div>
        <div class="col-sm-2">
            Visit: <a href="https://www.msu.edu" target="_blank" title="Click to open MSU web site">msu.edu</a>
        </div>*@
</div>

@*<div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-2" style="font-size:smaller">
            Call MSU: (517)355-1855
        </div>
        <div class="col-sm-4" style="font-size:smaller">
            MSU is an affirmative-action, equal-opportunity employer
        </div>
    </div>*@

<div class="row">
    <div class="offset-5 col-sm-7">SPARTANS WILL &copy; @DateTime.Now.Year - MSU-CVM</div>
    @*<div class="col-sm-6" style="font-size:smaller">
            SPARTANS WILL &copy; @DateTime.Now.Year - MSU-CVM
        </div>*@
</div>