﻿@model CVMAwards.Web.Models.Common.BootstrapModal

<style type="text/css">
    #modal-view-app .modal-dialog {
        overflow-y: initial !important;
    }

    #modal-view-app .modal-content {
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<div aria-hidden="true" aria-labelledby="@Model.AreaLabeledId" role="dialog" tabindex="-1"
     id="@Model.ID" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:lightgray;padding:10px;">
        </div>
    </div>
</div>