﻿@model CVMAwards.Web.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Log in";
    IDictionary<string, string> routeData = new Dictionary<string, string>();
    routeData.Add("ReturnUrl", "ViewBag.ReturnUrl");
}

<div class="row mt-3">
    <div class="col">
        <div class="card mt-2">
            <div class="card-header">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="offset-sm-4 col-sm-4 offset-sm-4">
                        <ul class="alert alert-info">
                            <li>You <b>must</b> have a CVM Account to log in.</li>
                            <li>You can log in using your net id and either the CVM or MSU Password.</li>
                            <li>To reset your CVM password, you can click on the Forgot Password button below.</li>
                        </ul>
                    </div>
                </div>
                <div class="offset-sm-4 col-sm-4 offset-sm-4">
                    <section id="loginForm" style="background-color:gainsboro; padding:10px;border-radius:5px;margin-top:3px;">
                        <form method="post" asp-controller="Account" asp-action="login" asp-all-route-data="routeData">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="UserName" class="col-form-label font-weight-bold" id="usernamelabel"></label>
                                @*<div class="col-sm-7">*@
                                <div class="input-group mb-3">
                                    <input asp-for="UserName" class="form-control" title="Enter your username" placeholder="Enter User name" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-user fa-sm fa-fw" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-form-label font-weight-bold" id="passwordlabel"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="Password" class="form-control" title="Enter your password" placeholder="Enter your password" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-lock fa-sm fa-fw" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="form-group row">
                                <div class="custom-checkbox offset-sm-1">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary" title="Click to log in">
                                            <span class="fa fa-sign-in"> Log in</span>
                                        </button>
                                    </div>
                                    <div class="col text-right">
                                        <a href="https://wapp.cvm.msu.edu/cvmutility/account/forgotpassword" target="_blank"
                                           title="Click to reset/update CVM password" class="btn btn-secondary">Forgot Password</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

