﻿@model CVMAwards.Web.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row mt-3">
    <div class="offset-3 col-sm-6">
        <div class="card mt-2">
            <div class="card-header">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="Register">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="text-info"> Fields marked with <span style="color:red">*</span> are required</span>
                        </div>
                    </div>
                    <br />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="UserName" class="col-sm-3 col-form-label glyphicon-asterisk-red"></label>
                        <input asp-for="UserName" class="form-control col-sm-6" title="Enter a user name" placeholder="Enter user name" />
                        <span asp-validation-for="UserName" class="col-sm-3 text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-3 col-form-label glyphicon-asterisk-red"></label>
                        <input asp-for="FirstName" class="form-control col-sm-6" title="Enter first name" placeholder="Enter first name" />
                        <span asp-validation-for="FirstName" class="col-sm-3 text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-3 col-form-label glyphicon-asterisk-red"></label>
                        <input asp-for="LastName" class="form-control col-sm-6" title="Enter last name" placeholder="Enter last name" />
                        <span asp-validation-for="LastName" class="col-sm-3 text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-3 col-form-label glyphicon-asterisk-red"></label>
                        <input asp-for="Email" class="form-control col-sm-6" title="Enter an email" placeholder="Enter email" />
                        <span asp-validation-for="Email" class="col-sm-3 text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Password" class="col-sm-3 col-form-label glyphicon-asterisk-red"></label>
                        <input asp-for="Password" class="form-control col-sm-6" title="Enter password" placeholder="Enter password" />
                        <span asp-validation-for="Password" class="col-sm-3 text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label glyphicon-asterisk-red"></label>
                        <input asp-for="ConfirmPassword" class="form-control col-sm-6" title="Confirm password" />
                        <span asp-validation-for="ConfirmPassword" class="col-sm-3 text-danger"></span>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" id="btnSubmit" type="submit" title="Click to register account"><i class="fa fa-save"></i> Register</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}