﻿@model CVMAwards.Web.ViewModels.Awards.AwardsViewModel

@{
    ViewData["Title"] = "Add/Edit Award";
    //var url = Util.BaseUrl;
}
<link href="~/lib/bootstrapdatepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

<div class="card">
    <div class="card-header">
        <h2>
            @if (Model.AwardId == 0)
            {
                <span>Add New Award</span>
            }
            else
            {
                <span>Edit Award</span>
            }
        </h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="offset-2 col-sm-8 offset-2">
                <div class="formStyle">
                    <form asp-action="AddEdit" asp-controller="Awards" method="post">
                        @Html.HiddenFor(model => model.AwardId)
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="All" class="text-danger error"></div>
                        <div class="row mb-1">
                            <div class="col-sm-12">
                                <span class="text-warning"> Fields marked with <span style="color:red">*</span> are required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.AwardName" class="col-sm-3 col-form-label glyphicon-asterisk-red">Award Name</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.AwardName" class="form-control" title="Enter a award name" />
                                <span asp-validation-for="@Model.AwardName" class="text-danger offset-3"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="@Model.AwardingBody" class="col-sm-3 col-form-label">Awarding Body</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.AwardingBody" class="form-control" title="Enter awarding body" />
                                <span asp-validation-for="@Model.AwardingBody" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="@Model.AwardUrl" class="col-sm-3 col-form-label">Award Website</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.AwardUrl" class="form-control" title="Enter the url of the award" placeholder="https://www.websitename.abc" />
                                <span asp-validation-for="@Model.AwardUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="@Model.Description" class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @title = "Enter a description" })
                                <span asp-validation-for="@Model.Description" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="@Model.Requirements" class="col-sm-3 col-form-label">Requirements</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Requirements, new { @class = "form-control", @title = "Enter requirements for the award" })
                                <span asp-validation-for="@Model.Requirements" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="@Model.Eligibility" class="col-sm-3 col-form-label">Eligibility</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Eligibility, new { @class = "form-control", @title = "Enter eligibility for the award" })
                                <span asp-validation-for="@Model.Eligibility" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="CategoryId" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(m => m.CategoryId, Model.Categories, "**Please select", new { @class = "form-control", title = "Select category" })
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <label asp-for="Liaison" class="col-sm-2 col-form-label align-right">Liaison</label>
                            <div class="col-sm-2">
                                <input asp-for="Liaison" class="form-control" title="Enter the Liaison" />
                                <span asp-validation-for="LiaisonNeeded" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="DeadlineMonth" class="col-sm-3 col-form-label">Approx. Deadline</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(model => model.DeadlineMonth, Model.Months, "**Please Select", new { @class = "form-control", title = "Select approx deadline" })
                                <span asp-validation-for="DeadlineMonth" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="Notes" class="col-sm-3 col-form-label">Notes</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @title = "Enter notes, if any, for the award" })
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row mb-1">
                            <label asp-for="AdditionalLinks" class="col-sm-3 col-form-label">Additional Links</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.AdditionalLinks, new { @class = "form-control", @title = "Enter Additional Links, if any, for the award" })
                                <span asp-validation-for="AdditionalLinks" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label asp-for="IsActive" class="col-sm-3 col-form-label">Is Active?</label>
                            <div class="col-sm-2">
                                <input asp-for="IsActive" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" type="submit" title="Click to save award"><i class="fa fa-save" aria-hidden="true"></i> Save Award</button>
                            <a asp-action="index" asp-controller="Awards" title="Click to go back" class="btn btn-secondary">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Awards List
                            </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrapdatepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>

    <script>
        $(function () {
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            toolbar: 'numlist bullist',
            theme_advanced_resizing: true,
            theme_advanced_resizing_use_cookie : false,
            width: "500",
            height: "150"

        });

        //$('.tox').attr('style', 'width:500px');
    });
    </script>
}