﻿@{
    ViewData["Title"] = "Awards Maintenance";
}

<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
<link type="text/css" rel="stylesheet" href="~/css/jBox.all.min.css" />
<style>
    .modal-content {
        width: 650px;
    }
</style>

@*<div class="text-center">
        <h1 class="display-4">CVM Awards Portal</h1>
    </div>*@
<div class="card">
    <div class="card-header">
        <h3>List of Awards</h3>
    </div>
    <div class="card-body">
        <div class="row mb-1">
            <div class="col-sm-3">
                <a asp-action="AddEdit" asp-controller="Awards" asp-route-id="0" class="btn btn-info" title="Click to add new Role">
                    <i class="fa fa-plus-circle"></i>&nbsp;Add New Award
                </a>
            </div>
            <div class="col-sm-9 align-right">
                <a asp-action="ExportToExcel" asp-controller="Awards" title="Click to export to excel" class="btn btn-secondary">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export to Excel
                </a>
            </div>
        </div>
        <div id="divContainer" style="border:1px solid darkgray; padding: 10px">
            <table id="tblList" class="table table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Awarding Body</th>
                        <th>Description</th>
                        <th>Requirements</th>
                        <th>Category</th>
                        <th>Eligibility</th>
                        @*<th>Liaison</th>*@
                        @*<th>Status</th>*@
                        <th>Approx. Deadline</th>
                        <th>Website</th>
                        <th>IsActive</th>
                    </tr>
                </thead>

            </table>
        </div>

        <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>
<a href="" target="_blank"></a>
@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/jBox.all.min.js"></script>
    <script>
        $(function () {
            let url = $('#Urlid').val();
            if (url == undefined || url.Length == 0)
                url = "";
            //let username = $("#username").val();

            $('#tblList').DataTable({
                jQueryUI: true,
                language: {
                    emptyTable: "No records in the database"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "pagingType": "full",
                "columns": [
                    {
                        'data': 'awardId',
                        sortable: false,
                        searchable: false,
                        render: function (id) {
                            let str = '<div class="my-container">';
                            //let urlStr = url + "/Awards/AddEdit?Id=" + id;
                            let urlStr = "@Url.Action("AddEdit", "Awards")" + "?Id=" + id;
                            str = str + '<a href="' + urlStr;
                            str = str + '" title="Click to edit award" ';
                            str = str + '<span class="my-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span><span class="my-text">Edit</span></a></div>';

                            //let str = '<div class="my-container">';
                            //str = str + '<a id="EditItem" asp-controller="Awards" asp-action="AddEdit" asp-route-id="' + id + '" title="Click to Edit role" ';
                            //str = str + 'data-toggle="modal" data-target="#modal-container">';
                            //str = str + '<span class="my-icon"><i class="fa fa-pencil"></i></span>';
                            //str = str + '<span class="my-text">Edit</span>';
                            //str = str + '</a></div>';
                            return str;
                        }
                    },
                    {
                        'data': 'awardName'
                    },
                    {
                        'data': 'awardingBody'
                    },
                    {
                        //description
                        'data': 'awardId',
                        sortable: false,
                        render: function (data, type, full, meta) {
                            //let id = full.awardId;
                            //let urlStr = "@Url.Action("GetDescription", "Home")"  + "?Id=" + data;
                            let str = '<div class="showdesc" data-id="' + data + '">' + full.description + '</div';

                            return str;
                        }
                    },
                    {
                       //requirements
                        'data': 'awardId',
                        sortable: false,
                        render: function (data, type, full, meta) {
                            let str = '<div class="showreq" data-id="' + data + '">' + full.requirements + '</div';

                            return str;
                        }
                    },
                    {
                        'data': 'categoryName'
                    },
                    {
                        'data': 'awardId',
                        sortable: false,
                        render: function (data, type, full, meta) {
                            let str = '<div class="showelig" data-id="' + data + '">' + full.eligibility + '</div';

                            return str;
                        }
                    },
                    //{
                    //    'data': 'liaison'
                    //},
                    //{
                    //    'data': 'status'
                    //},
                    {
                        'data': 'deadline',
                        searchable: false
                    },
                    {
                        'data': 'awardUrl',
                        sortable: false,
                        searchable: false,
                         "render": function (awardUrl) {
                            var str = '<a href="' + awardUrl + '" title="Click to go to the website" target="_blank">';
                            str = str + 'Click to go to the Awards Url</a>';
                            return str;
                        }
                    },
                    {
                        'data': 'isActive',
                        sortable: true,
                        searchable: false,
                        "render": function (data, type, full, meta) {
                            if (data == true) {
                                return 'Yes';
                            }
                            else {
                                return 'No';
                            }

                        }
                    }

                ],
                "serverSide": true,
                //sAjaxSource: 'Home/GetData',
                "ajax": {
                    //"url": url + "/api/ScheduleListAPI/CancelledList/",
                    //"url": url + "/awards/GetAwardsList/",
                     "url": '@Url.Action("GetAwardsList", "Awards")',
                    "type": "POST",
                    "dataType": "json"
                },
                "processing": true,
                'initComplete': function (settings, json) {
                    var col = $('#tblList thead tr').find('th:eq(0)');
                    col.removeClass("sorting_asc");
                    col.removeClass("sorting");

                }
            });

             @*$('#tblList').on('mouseover', 'tbody tr td div.showdesc', function () {
                elem = $(this);
                var awardid = elem.data('id');

                let jbox = new jBox('Tooltip', {
                    attach: elem,
                    ajax: {
                        url:'@Url.Action("GetDescription", "Home")' + '/' + awardid,
                        reload: 'strict',
                        setContent: false,
                        success: function (response) {
                            jbox.setTitle('<div class="modal-header">Description</div>').setContent('<div class="modal-body" style="max-width:200px">' + response.description + '</div>');
                        },
                        error: function () {

                        }
                    }
                });
            });

            $('#tblList').on('mouseover', 'tbody tr td div.showreq', function () {
                elem = $(this);
                var awardid = elem.data('id');

                let jbox = new jBox('Tooltip', {
                    attach: elem,
                    ajax: {
                        url:'@Url.Action("GetRequirements", "Home")' + '/' + awardid,
                        reload: 'strict',
                        setContent: false,
                        success: function (response) {
                            jbox.setTitle('<div class="modal-header">Requirements</div>').setContent('<div class="modal-body" style="max-width:200px">' + response.requirements + '</div>');
                        },
                        error: function () {

                        }
                    }
                });
            });

            $('#tblList').on('mouseover', 'tbody tr td div.showelig', function () {
                elem = $(this);
                var awardid = elem.data('id');

                let jbox = new jBox('Tooltip', {
                    attach: elem,
                    ajax: {
                        url:'@Url.Action("GetEligibility", "Home")' + '/' + awardid,
                        reload: 'strict',
                        setContent: false,
                        success: function (response) {
                            jbox.setTitle('<div class="modal-header">Eligibility</div>').setContent('<div class="modal-body" style="max-width:200px">' + response.eligibility + '</div>');
                        },
                        error: function () {

                        }
                    }
                });
            });*@

            $('#CancelledList tbody').on('click', 'td a.detail', function (e) {
                e.preventDefault();
                //alert('here');
                $('#modal').on('show.bs.modal', function (event) {
                    let button = $(event.relatedTarget); // Button that triggered the modal
                    let url = button.attr("href");
                    var modal = $(this);
                    // note that this will replace the content of modal-content ever time the modal is opened
                    modal.find('.modal-content').load(url);
                });
            });

             $('#modal-container').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.attr("href");
                var modal = $(this);
                // note that this will replace the content of modal-content ever time the modal is opened
                modal.find('.modal-content').load(url);
            });

            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('.modal-content', this).empty();
                window.location.reload();
            });

        });
    </script>
}